@import url('https://fonts.googleapis.com/css?family=Amarante|Raleway');

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/**The Specific Styles**/
.wrapper {
    margin: 0 auto;
    width: 100%;
    height: 6rem;
}
.sign-up {
    position: relative;
    top: 2.5rem;
}
body {
    background: #fafafa;
}
header nav {
    width: 100%;
    height: auto;
    background: lavender;
}
header nav ul {
    float: left;
    padding-top: 2rem;
}
header nav ul li {
    float: left;
    list-style-type: none;
    margin: 0rem 1.5rem;
}
header nav ul li a {
    float: left;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-size: 16px;
    color: #111111;
    line-height: 2;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Amarante', cursive;
}
p {
    font-family: 'Raleway', sans-serif;
}
a {
    font-family: 'Raleway', sans-serif; 
    text-decoration: none;
    cursor: pointer;
}
header .login-form {
    float: right;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
header .login-form form {
    float: left;
    padding-top: 2rem;
}
header .login-form form input {
    float: left;
    margin: 0 1rem;
    font-family: 'Raleway';
    padding: .5rem;
    border: none;
    background-color: white;
}
header .login-form form button {
    font-family: 'Raleway';
    padding: .5rem;
    border: none;
    background-color: white;
    transition: .5s;
    cursor: pointer;
}
header .login-form form button:hover {
    background-color: #f3f3f3;
    transition: .5s;
}

header .login-form a {
    font-size: 16px;
    color: black;
}

.page-wrapper .main-title {
    text-align: center;
    font-size: 2rem;
    padding: 2rem;
}
/****sign up styles***/

.signup-form {
    width: 500px;
    margin: 0 auto;
    padding-top: 40px;
}

.signup-form input{
    width: 90%;
    height: 50px;
    padding: 0px 5%;
    border: none;
    background: #fff;
    font-family: 'Raleway';
    margin-bottom: 4px;
}

.signup-form button {
    display: block;
    display: block;
    width: 30%;
    height: 50px;
    border: none;
    background: lavenderblush;
    font-family: 'Raleway';
    cursor: pointer;
    transition: .5s;
    margin: auto;
    margin-top: 2rem;
}
.signup-form button:hover {
    background: rgb(147, 112, 216, 0.5);
    transition: .5s;
}
.page.signup {
    background: rgb(147, 112, 216, 0.25);
    height: 100vh;
}
.error {
    font-family: 'Raleway';
    color: red;
    padding: 0.5rem 1rem;
    position: absolute;
    border: 1px solid red;
    margin: .5rem;
    background: lightpink;
}
